.menu {

    background: blueviolet;
    margin-top: 20px;
}
.header {
    font: 16px economica, bold;
    color: #fff;
    width: 900px;
    list-style-type: none;
    background: blueviolet;

    margin: 0 auto;
    padding: 0;
}
.header li {

    display: inline-block;
    border-radius: 20%;
    border: hidden;
}
.menu_link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;

    padding: 10px 10px;

}
.menu_item:hover {
    background: gainsboro;
    color: black;
    font-weight: bold;
    -position: relative;
}
.float:hover {
    background: gainsboro;
    color: black;
    font-weight: bold;
}
.float {

    float: right;
}
body {
    background:
    background-color: #fff;
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    margin: 0;
    padding:0;
}
div ul {
    background: gainsboro;
    color: blueviolet;

    background-attachment: scroll;

}
.search li {
    display: inline-block;

    border-radius: 20%;
    font: 12px economica, bold;
    padding: 10px 10px;
}
.search li:hover {
    background: blueviolet;
    color: white;
    -font-weight: bold;

}
.one {
    border: 1px solid grey;
}
div {
    -position: absolute;
    margin-top: 700px;
}
ul.header li ul {
    display: none;
}
ul.header li:hover > ul {
    position: absolute;
    display: inline-block;
    width: 900px;
}