.students-table {color: orange}
body h1 {text-align: right; font-size: 30px; color: orange; font-weight: bold;}
p:first-letter {font-size: 30px; color: red}
em {background-color: green;}
div h2 {color: orange; font-weight: bold;}
#warehouse h2 {color: blue;}
.fruits-list {color: gray;}
.vegetables-list {color: red;}
ul li {font-weight: bold;}
ol li {font-weight: normal;}

tr  > td:nth-of-type(1) {color: orange;}
 tr>td  {background-color: green;}
table thead td {font-weight: bold; background-color: white; color: black;}